{% extends "opensky/template.html" %}
{% block body %}
    <div class="page-header text-center">
        <h3>Контакты <br>
            <small>Вы можете позвонить нам по указанным телефонам.<br>
                Написать нам на почту или отправить сообщение через сайт</small></h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="map" data-latitude="{{ office.latitude }}" data-longitude="{{ office.longitude }}" style="width:100%; height:400px"></div>
            </div>
            <div class="col-md-6 text-center">
                <address>
                    Адрес: {{ office.address }}<br/>
                    Телефон: {{ office.phone|join:"," }}<br/>
                    Email: {{ office.email|urlize }}
                </address>
                <div class="row">
                    <form action="{% url 'contacts' %}" role="form" method="post">
                        <h4>Написать нам <span class="glyphicon glyphicon-pencil"></span></h4>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="col-md-6">
                            <div class="form-group {{ color.sender }} fieldWrapper">
                                {{ form.sender.errors }}
                                {{ form.sender }}
                            </div>
                            <div class="form-group {{ color.email }} fieldWrapper">
                                {{ form.email.errors }}
                                {{ form.email }}
                            </div>
                            <div class="form-group {{ color.subject }} fieldWrapper">
                                {{ form.subject.errors }}
                                {{ form.subject }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group {{ color.message }} fieldWrapper">
                                {{ form.message.errors }}
                                {{ form.message }}
                            </div>
                        </div>
                        <button class="btn btn-info btn-primary btn-md" type="submit">Отправить
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </button>
                    </form>
                </div>
                <div class="row">
                    {% if thank %}
                        <div class="col-md-6 col-md-offset-3">
                            <div class="alert alert-success">Спасибо за обратную связь!</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}