{% extends "opensky/template.html" %}
{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="jumbotron">
                <h2 class="title">Товары</h2>
                <p>Здесь вы можете ознакомиться с оборудованием,<br /> предоставляемым нашей компанией. <br />Более подробную информацию Вы можете узнать по телефонам,<br /> указанном в разделе "Контакты"</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for item in equipments %}
                <div class="col-md-3 product">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{item.name}}</h3>
                        </div>
                        <div class="panel-body">
                            <figure>
                                <a title="{{item.name}} {{item.manufacturer}} {{item.price}} руб." class="fancybox" rel="group" href="{{MEDIA_URL}}{{item.image}}">
                                    <img src="{{MEDIA_URL}}{{item.image}}" width="auto" height="100px" align="middle">
                                </a>
                            </figure>
                        </div>
                    <div class="panel-footer">
                        <span>Произ-во</span>
                        <span class="rights">{{item.manufacturer}}</span>
                    </div>
                    <div class="panel-footer">
                        <span>Цена</span>
                        <span class="rights">{{item.price}} руб.</span>
                    </div>
                    <div class="panel-footer">
                        <span>{{item.description}}</span>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}