{% extends "opensky/template.html" %}
{% block meta %}
    <meta name="Description" content="Оборудование продаваемое компанией Сервис-Партнер">
    <meta name="Keywords" content="{% for item in equipments %}{{ item.name }},{% endfor %}">
{% endblock meta %}
{% block body %}
    <div class="container text-center">
        <div class="page-header">
            <h3>Оборудование<br><br>
                <small>
                    Здесь вы можете ознакомиться с оборудованием, предоставляемым нашей компанией.<br>
                </small>
            </h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-offset-8 col-md-4">
                <form action="{% url 'equipment' %}" role="form" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="input-group">
                        {{ form.search }}
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Поиск</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            {% for item in equipments %}
                <div class="col-md-4 product">
                    <div class="panel panel-primary text-center modalClick">
                        <div class="panel-heading">
                            <p>{{ item.name }}</p>
                        </div>
                        <div class="panel-body">
                            <div class="center">
                                <img src="{{ item.image.url }}" width="200px" height="200px">
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span>Подробнее о продукте...</span>
                        </div>
                    </div>
                    <div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title" id="myModalLabel">{{ item.name }}</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <img src="{{ item.image.url }}" width="350px" height="350px">
                                        </div>
                                        <div class="media-body">
                                            <p class="rights text-right">Производство: {{ item.manufacturer }}</p>
                                            <p>{{ item.description|safe }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}