{% extends "opensky/template.html" %}
{% block body %}
    <div class="container features-section">
        <div class="row">
            <div class="col-md-4">
                <div class="page-header text-center">
                    <h3>
                        Решения<br>
                        <small>Наша компания может предложить Вам индивидуальное <br><b>комплексное решение</b> для Вашего бизнеса</small>
                    </h3>
                </div>
                <ul class="nav nav-tabs nav-stacked" id="myTab">
                    {% for feature in features %}
                        <li><a href="#{{feature.header}}" data-toggle="tab">{{feature.header}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">
                    <div class="row">
                        <div class="tab-content">
                            {% for feature in features %}
                                <div class="tab-pane {{forloop.first|yesno:'fade in active,'}}"  id="{{feature.header}}">{{feature.text}}</div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}