{% extends "opensky/template.html" %}
{% block body %}
    <div class="container-fluid features-section">
        <div class="row text-center">
            {% for feature in features %}
                <article class="col-md-4 feature-item">
                    <div class="thumb">
                        <i class="glyphicon {{feature.icon}}"></i>
                    </div>
                    <h3>{{feature.header}}</h3>
                    <p>{{feature.text}}</p>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}