{% extends "opensky/template.html" %}
{% block body %}
    <div class="container-fluid pricing-section">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <strong>Стандарт</strong>
                    <ul>
                        <li><span><sup>Руб.</sup>250</span> в месяц</li>
                        <li><i class="icon-check icon-large"></i></li>
                        <li>Первый ништяк</li>
                        <li>Второй ништяк</li>
                        <li><i class="icon-remove-circle icon-large"></i></li>
                        <li>Первый месяц бесплатно</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <strong>ПРЕМИУМ-ЛЮКС-VIP</strong>
                    <ul>
                        <li><span><sup>Руб.</sup>350</span> в месяц</li>
                        <li><i class="icon-check icon-large"></i></li>
                        <li>Бла-бла</li>
                        <li>Безлимит</li>
                        <li>Еще ништяки</li>
                        <li>3 месяца бесплатно</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h3>СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ ПЕРВЫМ 100 КЛИЕНТАМ</h3>
                <p>Закажите установку всех датчиков из каталога плюс хостинг на сервере и получите шоколадку СОВЕРШЕННО БЕСПЛАТНО!!!</p>
                <br />
                <button><a href="#contact">Звоните сейчас!</a></button>
            </div>
        </div>
    </div>
{% endblock %}