<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    {% block meta %}
    {% endblock meta %}
    <meta name="viewport" http-equiv="Content-Type" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'opensky/images/favicon.png' %}" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script src="{% static 'opensky/script/myscript.js' %}"></script>
    <link href="{% static 'opensky/style/mystyle.css' %}" rel="stylesheet">

    <title>ООО "Сервис-Партнер". GPS/Глонасс мониторинг. Контроль расхода топлива. Тахографы. Карты водителей</title>
</head>
<body>
    {% block header %}
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header hidden-sm">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'opensky/images/logo-small.png' %}" height="40px" width="40px">
                        <span class="hidden-md">СЕРВИС-ПАРТНЕР</span>
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="mynav nav navbar-nav">
                        <li><a href="{% url 'home' %}">ГЛАВНАЯ</a></li>
                        <li><a href="{% url 'features' %}">РЕШЕНИЯ</a></li>
                        <li><a href="{% url 'equipment' %}">ОБОРУДОВАНИЕ</a></li>
                        <li><a href="{% url 'pricing' %}">ЦЕНЫ</a></li>
                        <li><a href="{% url 'services' %}">МОНИТОРИНГ</a></li>
                        <li class="dropdown text-nowrap">
                            <a class="dropdown-toggle" data-toggle="dropdown" id="menu1" href="#">
                                О КОМПАНИИ
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'company' %}">О КОМПАНИИ</a></li>
                                <li><a href="{% url 'workers' %}">СОТРУДНИКИ</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'contacts' %}">КОНТАКТЫ</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    {% endblock header %}
    {% block body %}
    {% endblock body %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 hidden-xs hidden-sm">
                    ООО "Сервис-Партнер"<br>
                    Адрес: {{ office.address }}<br>
                    Телефон: {{ office.phone1 }}
                </div>
                <div class="col-md-4 col-xs-6 text-center">
                    Мы в социальных сетях:<br>
                    {% for widget in widgets %}
                        <a href="{{ widget.url }}"><div class="s-l {{ widget.name }}"></div></a>
                    {% endfor %}
                </div>
                <div class="col-md-4 col-xs-6 text-right">
                    <span>2015 © ООО "Сервис-Партнер"<br> created by
                        <a href="https://github.com/craby-c">craby</a> &
                        <a href="https://github.com/pinballwizard">pinballwizard</a>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</body>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter29770461 = new Ya.Metrika({id:29770461,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    }
    else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div>
        <img src="//mc.yandex.ru/watch/29770461" style="position:absolute; left:-9999px;" alt="" />
    </div>
</noscript>
<!-- /Yandex.Metrika counter -->
</html>